@{
  Layout = "_Layout";
}

@* @using Factory.Models *@
@model Factory.Models.Machine

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)
  @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.MachineDescription)
  @Html.TextBoxFor(model => model.MachineDescription)
  @Html.ValidationMessageFor(model => model.MachineDescription, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.MachineManufacturer)
  @Html.TextBoxFor(model => model.MachineManufacturer)
  @Html.ValidationMessageFor(model => model.MachineManufacturer, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.MachineStatus)
  <span> Operational </span> @Html.RadioButtonFor(model => model.MachineStatus, "Operational")
  <span> Malfunctioning </span> @Html.RadioButtonFor(model => model.MachineStatus, "Malfunctioning")
  <span> Out of Order </span> @Html.RadioButtonFor(model => model.MachineStatus, "Out of Order")
  @Html.ValidationMessageFor(model => model.MachineStatus, "", new { @class = "text-danger" })

  <input type="submit" value="Add new machine" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>