@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.MachineName)</h4>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)
  @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.MachineDescription)
  @Html.TextBoxFor(model => model.MachineDescription)
  @Html.ValidationMessageFor(model => model.MachineDescription, "", new { @class = "text-danger" })

  @Html.LabelFor(model => model.MachineManufacturer)
  @Html.TextBoxFor(model => model.MachineManufacturer)
  @Html.ValidationMessageFor(model => model.MachineManufacturer, "", new { @class = "text-danger" })

  <input type="submit" value="Save changes" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>