@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h4>Add a new engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)

  @Html.LabelFor(model => model.EngineerPhone)
  @Html.TextBoxFor(model => model.EngineerPhone)

  @Html.LabelFor(model => model.EngineerEmail)
  @Html.TextBoxFor(model => model.EngineerEmail)

  @Html.LabelFor(model => model.EngineerAddress)
  @Html.TextBoxFor(model => model.EngineerAddress)

  @Html.LabelFor(model => model.EngineerCity)
  @Html.TextBoxFor(model => model.EngineerCity)

  @Html.LabelFor(model => model.EngineerState)
  @Html.DropDownListFor(model => model.EngineerState, 
    new SelectList(Enum.GetValues(typeof(EngineerState))),
    "Select State")

  @Html.LabelFor(model => model.EngineerZip)
  @Html.TextBoxFor(model => model.EngineerZip)

  @Html.LabelFor(model => model.EngineerCerts)
  <span> Level 1 Certification </span> @Html.RadioButtonFor(model => model.EngineerCerts, "Level 1")
  <span> Level 2 Certification </span> @Html.RadioButtonFor(model => model.EngineerCerts, "Level 2")
  <span> Level 3 Certification </span> @Html.RadioButtonFor(model => model.EngineerCerts, "Level 3")
  <span> Level 4 Certification </span> @Html.RadioButtonFor(model => model.EngineerCerts, "Level 4")
  <span> Level 5 Certification </span> @Html.RadioButtonFor(model => model.EngineerCerts, "Level 5")

  @Html.LabelFor(model => model.EngineerBio)
  @Html.TextAreaFor(model => model.EngineerBio)

  <input type="submit" value="Add new engineer" />
}
<p>@Html.ActionLink("Show all engineers", "Index")</p>