@{
  Layout = "_Layout";
}

@* @using Factory.Models *@
@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>
<p>@Html.DisplayNameFor(model => model.EngineerPhone): @Html.DisplayFor(model => model.EngineerPhone)</p>
<p>@Html.DisplayNameFor(model => model.EngineerEmail): @Html.DisplayFor(model => model.EngineerEmail)</p>
<p>@Html.DisplayNameFor(model => model.EngineerAddress): @Html.DisplayFor(model => model.EngineerAddress)</p>
<p>@Html.DisplayNameFor(model => model.EngineerCity): @Html.DisplayFor(model => model.EngineerCity)</p>
<p>@Html.DisplayNameFor(model => model.EngineerState): @Html.DisplayFor(model => model.EngineerState)</p>
<p>@Html.DisplayNameFor(model => model.EngineerZip): @Html.DisplayFor(model => model.EngineerZip)</p>
<p>@Html.DisplayNameFor(model => model.EngineerCerts): @Html.DisplayFor(model => model.EngineerCerts)</p>
<p>@Html.DisplayNameFor(model => model.EngineerBio): @Html.DisplayFor(model => model.EngineerBio)</p>
<p>@Html.DisplayNameFor(model => model.EngineerStatus): @Html.DisplayFor(model => model.EngineerStatus)</p>
<p>@Html.DisplayNameFor(model => model.HireDate): @Html.DisplayFor(model => model.HireDate)</p>

@* <h3>@Html.DisplayNameFor(model => model.StylistName): @ViewBag.thisStylist.StylistName<h3>
<p>@Html.DisplayNameFor(model => model.StylistPhone): @ViewBag.thisStylist.StylistPhone</p>
<p>@Html.DisplayNameFor(model => model.StylistEmail): @ViewBag.thisStylist.StylistEmail</p>
<p>@Html.DisplayNameFor(model => model.StylistBio): @ViewBag.thisStylist.StylistBio</p>
<p>@Html.DisplayNameFor(model => model.HireDate): @ViewBag.thisStylist.HireDate</p>
<p>@Html.DisplayNameFor(model => model.Specialty): @ViewBag.thisStylist.Specialty</p> *@

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not certified to work on any machines</p>
}
else
{
  <h4>Machines this engineer is certified to repair:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.MachineName</li>
    @* <li>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new { id = machine.MachineId })</li> *@
  }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>