@{
  Layout = "_Layout2";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h2>Search for engineer by name:</h2>

@using (Html.BeginForm())
{
  <form asp-controller="EngineersController" asp-action="SearchBy" method="get">
      <p>
          Engineers: <input type="text" name="searchString" />
          <input type="submit" value="Filter" />
      </p>
  </form>
}

@foreach(Engineer engineer in Model)
{
  if (@Model.Count == 0)
  {
    <h3>No matches</h3>
  }
  else 
  {
    <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</li>
      @* @using (Html.BeginForm("Delete", "Recipes", FormMethod.Get))
    {
      @Html.Hidden("id", @recipe.RecipeId)
      <input type="submit" value="Remove Recipe" class="btn btn-default"/>
    } *@
  }
}

<p>@Html.ActionLink("Back to engineers", "Index")</p>