@{
  Layout = "_Layout";
}

@using Factory.Models

<main role="main">

  <section class="jumbotron text-center sillystringz">
    <div class="container">
      <div class="jumbotron-heading">
        <svg viewBox="0 0">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">SillyStringz</text>
          </symbol>
          <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
      </div>
      <span class="subhead"><h2>From the <span class="insanity">insane</span> mind of Dr. Sillystringz</h2></span>
      <p class="lead text-muted">Welcome to the SillyStringz factory portal! Take a look around and add an engineer or two to our datatbase!</p>
      <p>
        <a href='/engineers' class="btn btn-warning btn-lg" role="button">Engineers Portal</a>
        <a href='/machines' class="btn btn-warning btn-lg" role="button">Machines Portal</a>
        <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
      </p>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="deck-flex card-deck">
        <div class="card-flex card col-md-5 card-style-home">
          <h3 class="card-title">Engineers</h3>
          <div class="card-body">
            @if (@Model["engineers"].Count == 0)
            {
              <h3>No engineers have been added yet!</h3>
            } 
            <ul>
            @foreach(Engineer engineer in Model["engineers"])
            {
              <div class="pad-group">
                <li><span class="bold">@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new { id = engineer.EngineerId })</span></li>
                @if (@engineer.EngineerStatus == "Available")
                {
                  <small><p>Status: <span class="available">@engineer.EngineerStatus</span></p></small>
                }
                else
                {
                  <small><p>Status: <span class="unavailable">@engineer.EngineerStatus</span></p></small>
                }
              </div>
            }
            </ul>
          </div>
        </div>
        <div class="card-flex card col-md-5 card-style-home">
          <h3 class="card-title">Machines</h3>
          <div class="card-body">
            @if (@Model["machines"].Count == 0)
            {
              <h3>No machines have been added yet!</h3>
            }
            <ul>
            @foreach(Machine machine in Model["machines"])
            {
              <div class="pad-group">
                <li><span class="bold">@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new { id = machine.MachineId })</span></li>
                @if (@machine.MachineStatus == "Operational")
                {
                  <small><p>Status: <span class="available">@machine.MachineStatus</span></p></small>
                }
                else if (@machine.MachineStatus == "Malfunctioning")
                {
                  <small><p>Status: <span class="malfunction">@machine.MachineStatus</span></p></small>
                }
                else
                {
                  <small><p>Status: <span class="unavailable">@machine.MachineStatus</span></p></small>
                }
              </div>
            }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


